body {
  background: #0F404E;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #8E090E;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
}

a {
  color: #B5A37F;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}
